.about {
	background-color: #F5F8FA;
	&__content {
		min-height: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-top: 60px;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		&::before {
			position: absolute;
			content: '';
			width: 593px;
			height:537px;
			left: calc(50% + 4px);
			top: calc(50% - 10px);
			transform: translate(-50%, -50%);
			background: url('../img/about-bg.svg') center no-repeat;
			z-index: -1;
		}
		&::after {
			position: absolute;
			content: '';
			width: 350px;
			height: 350px;
			background: #54a8da;
			filter: blur(50px);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -2;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1.3fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 36px 577px;
	}
	
	&__item {
		max-width: 330px;
	}

	&__name {
		line-height: 1.4;
		margin-top: 16px;
		margin-bottom: 21px;
		font-weight: 500;
		font-size: 20px;
	}

	&__info {
		line-height: 1.4;
	}
}
