.best {
	&__content {
		padding-top: 60px;
	}
	
	&__list {
		display: flex;
		align-items: flex-start;
		margin: 0 -14px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		margin: 0 14px;
		width: calc(100% / 3 - 28px);
		background-color: #f5f8fa;
		border-radius: 35px;
		padding: 30px 23px;
		box-sizing: border-box;
		transition: .3s;
	}

	&__btn {
		margin-top: auto;
	}

	&__img {
		text-align: center;
		align-self: center;
		margin-bottom: 17px;
		height: 224px;
		img {
			max-height: 224px;
		}
	}

	&__tag {
		display: inline-block;
		background-color: $red;
		border-radius: 19px;
		line-height: 1.16;
		letter-spacing: 0.0015em;
		color: $white;
		padding: 5px 14px;
		margin-bottom: 12px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 1.3;
		margin-bottom: 12px;
	}

	&__info {
		letter-spacing: 0.001em;
		color: #5F6C8B;
		margin-top: 24px;
		transition: .3s;
		overflow: hidden;
		li {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__price {
		margin: 30px 0;
	}

	&__price-caption {
		font-size: 14px;
		letter-spacing: 0.0025em;
		color: #7686ad;
	}

	&__price-row {
		display: flex;
		align-items: baseline;
	}

	&__price-new {
		font-size: 34px;
		letter-spacing: 0.0025em;
		color: $red;
	}

	&__price-old {
		font-weight: 500;
		font-size: 20px;
		text-decoration: line-through;
		letter-spacing: 0.0015em;
		margin-left: 11px;
		color: #93A8DB;;
	}

	&__discount {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 24px;
		top: 24px;
		width: 44px;
		height: 44px;
		background-color: $red;
		line-height: 1.16;
		letter-spacing: 0.0015em;
		color: $white;
		border-radius: 50%;
	}
}
