.consult {
	margin-top: 72px;
	margin-bottom: 50px;

	&__box {
		background: url("../img/wave-3.svg") left -5px top -5px no-repeat,
			linear-gradient(293.42deg, #d3e7ff 66.73%, #d3e7ff 66.73%, #e1f8ff 99.24%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 71px 43px 84px 77px;
		border-radius: 35px 35px 0px 0px;
		border: 3px solid #c9d5f4;
		border-bottom: none;
		.form__title {
			text-align: center;
		}
	}

	&__title {
		margin-bottom: 24px;
		color: $main;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 1.4;
		span {
			font-weight: 500;
		}
	}

	&__info {
		max-width: 515px;
		padding-bottom: 50px;
	}

	&__form {
		font-family: "Roboto", sans-serif;
		max-width: 440px;
		padding: 45px 40px;
		width: 100%;
		background-color: $white;
		border-radius: 35px;
		margin-right: 105px;
	}
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 12px 24px;
	font-family: "Roboto", sans-serif;
	background-color: $white;
	border-radius: 0px 0px 35px 35px;
	padding: 42px 50px;
	border: 3px solid #c9d5f4;
	border-top: none;

	&__col {
		display: flex;
		gap: 12px 64px;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(
			293.42deg,
			#d3e7ff 66.73%,
			#d3e7ff 66.73%,
			#e1f8ff 99.24%
		);
		border-radius: 50%;
		flex-shrink: 0;
		width: 45px;
		height: 45px;
	}

	&__text {
		margin-left: 9px;
		font-size: 20px;
		letter-spacing: 0.0015em;
	}
}
