.extra {
	&__list {
		padding-top: 80px;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(100% / 4 - 30px);
		margin: 0 15px;
	}

	&__img {
		margin-bottom: 24px;
		img {
			display: flex;
			border-radius: 25px;
			max-height: 180px;
		}
	}

	&__name {
		margin-bottom: 12px;
		font-weight: 500;
		font-size: 20px;
	}
}
