.footer {
	padding-bottom: 60px;
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		margin-bottom: 24px;
	}

	&__policy {
		font-family: "Roboto", sans-serif;
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.0025em;
		color: #7686ad;
	}
}
