.footer {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid #eaeaea;
		padding: 13px 0 18px;
	}

	&__logo {
		margin-bottom: 24px;
	}

	&__policy {
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.0025em;
		color: #7686ad;
	}
}
