$menuTransition: 0.45s ease-in-out;

.header {
	padding: 24px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__overlay {
		display: none;
		position: fixed;
		z-index: 5;
		left: 0;
		top: 0;
		bottom: 9px;
		right: 0;
		width: 100%;
		height: 100%;
		transition: $menuTransition;
		opacity: 0;
		background-color: rgba(#272727, 0.5);
		&.active {
			opacity: 1;
		}
	}

	&__burger {
		display: none;
		span {
			display: block;
			width: 34px;
			height: 3px;
			background-color: $title;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: $mobileBreakpoint) {
			display: block;
		}
	}

	&__navigation {
		margin: 0 auto;
		line-height: 1.16;
		font-size: 18px;
		color: rgba($main, 0.8);
	}

	&__phone {
		display: flex;
		align-items: center;
		font-size: 20px;
		font-weight: 500;
		position: relative;
		&::before {
			content: "";
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: url("../img/header-phone-icon.svg") center no-repeat;
			background-color: $white;
			margin-right: 12px;
			flex-shrink: 0;
		}
	}

	&__btn {
		margin-left: 32px;
		padding: 15px 30px;
		font-size: 16px;
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	&__logo {
		img {
			width: 84px;
		}
	}

	&__close {
		display: none;
		position: absolute;
		right: 12px;
		top: 12px;
		z-index: 4;
	}

	&__overlay {
		display: none;
		transition: $menuTransition;
		position: fixed;
		z-index: 5;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(0, 0, 0, .6);
		&.active {
			opacity: 1;
		}
	}
}

.navigation {
	color: rgba($main, 0.8);
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -18px;

		li {
			margin: 0 18px;
		}
	}
}
