@include font("Rubik", "Rubik-Light", "300", "normal");
@include font("Rubik", "Rubik-Regular", "400", "normal");
@include font("Rubik", "Rubik-Medium", "500", "normal");
@include font("Roboto", "Roboto-Light", "300", "normal");
@include font("Roboto", "Roboto-Regular", "400", "normal");
@include font("Roboto", "Roboto-Medium", "500", "normal");

body {
	min-width: 320px;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: $text;
	background-color: $white;
}

input,
textarea {
	display: inline-block;
	background-color: $white;
	border-radius: 10px;
	padding: 15px 30px;
}

textarea {
	min-height: 150px;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
