$main: #203E5F;
$text: #284C71;
$accent: #16C083;
$title: #1D3752;
$subtitle: #224E73;
$white: #fff;
$black: #000;
$orange: #F57676;
$red: #FF3636;
$mobileBreakpoint: 1024px;
$transition: .35s ease-in-out;